.videoContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(36, 36, 123, 1) 23%, rgba(0, 212, 255, 1) 100%);
}